<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Book List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Book Id</th>
            <th>Title</th>
            <th>Author</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of books | async">
            <td>{{book.bookId}}</td>
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td><button (click)="deleteEmployee(book.bookId)" class="btn btn-danger">Delete</button>
                <button (click)="updateEmployee(book.bookId)" class="btn btn-info" style="margin-left: 10px">Update</button>
                <button (click)="employeeDetails(book.bookId)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>